<a href="https://colab.research.google.com/github/shinobi0605/gifthub/blob/main/2_1_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
#身長と体重のデータを読み込む

children = pd.DataFrame({'年齢':[1.39,2.32,3.56,4.13],'身長':[75.6,85.1,90.9,105.7]})

#読み込んだデータ
children

     年齢     身長
0  1.39   75.6
1  2.32   85.1
2  3.56   90.9
3  4.13  105.7